.caixa-hero-video {
  @include flex(column, center, start, 1.92rem);
  max-width: 60rem;
  text-align: center;
  background: linear-gradient(
    135deg,
    rgba(128, 0, 128, 0.9),
    rgba(0, 0, 0, 0.6)
  );
  border-radius: 0.86rem;
  color: #fff;
  padding: 1.6rem 1.28rem;

  &_video {
    width: 45rem;
    height: 25rem;
    border-radius: 1rem;
    overflow: hidden;
  }
}
